# macOS
.DS_Store

# IDE files
xcuserdata

# XcodeGen
.xcodegen

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM
!*.framework.dSYM
*app.dSYM.zip

# Swift Package Manager
.build

# fastlane

# Project files
*.xcodeproj
*.xcworkspace


# Rugby
.rugby

# Pods
Pods
Podfile.lock

# Gems
Gemfile.lock

# Other
